<input type="text" [(ngModel)]="title"> {{ title }} {{ 4 +5 }}

<div *ngIf="title === 'santiago'">
    esto es un div
</div>

<button (click)="addItem()"> Add item </button>

<ul>
    <li *ngIf=" items.length === 0">La lista esta Vacía</li>
    <li *ngFor="let item of items; index as i">
        {{ item }} {{ i }}
        <button (click)="deleteItem(i)">Delete</button>
    </li>
</ul>

<div *ngFor="let product of products">
    {{ product.title }}
    <img [src]="product.image" alt=""> {{ product.price }}
</div>